body {
  background-color: black;
}

.card-header, .navbar {
  background-color: #20c9965d;
}

button {
  background-color: #20c9965d !important;
}

h2 {
  color: white;
}

.card {
  max-width: 30rem;
}

#play:hover {
  text-decoration: underline;
  cursor: pointer;
}